/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */

/* :root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --nav-text-color: #2196f3;
  --btn-text-color: #ffffff;
} */

/* body {
  font-family: Roboto, sans-serif;
  background: #ffffff;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  margin: 0;
} */

/* img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
} */

/* .visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
} */

/* $$$$$$$$$$$$ ХЕДЕР $$$$$$$$$$$$$*/

/* .header {
  border-bottom: 1px solid #ececec;
}

.header__container,
.site-nav {
  display: flex;
  align-items: center;
  background: #ffffff;
}

.site-nav__logo {
  padding-left: 20px;
  padding-bottom: 24px;
  padding-top: 25px;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--primary-text-color);
  text-decoration: none;
}

.logo {
  color: var(--nav-text-color);
}

.site-nav__logo:hover,
.site-nav__logo:focus {
  color: var(--nav-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-list {
  display: flex;
  margin-left: 93px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-list .site-list__item:not(:last-child) {
  margin-right: 50px;
}

.site-list .site-nav__link.current {
  color: var(--nav-text-color);
}

.site-list {
  position: relative;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--nav-text-color);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--nav-text-color);
}

.site-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.site-contacts__link {
  padding-bottom: 32px;
  padding-top: 32px;
  margin-right: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts__link:hover,
.site-contacts__link:focus {
  color: var(--nav-text-color);
}

.site-contacts .site-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.site-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts__icon:hover,
.site-contacts__icon:hover {
  color: var(--nav-text-color);
} */
/* $$$$$$$$$$$$ СТУДИЯ $$$$$$$$$$$$$*/

/* .hero {
  padding: 200px 0;
  margin: auto;

  max-width: 1600px;
  height: 600px;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__name {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--btn-text-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;

  font-family: Roboto;
  font-size: 16px;
  line-height: 1.875;
  color: var(--btn-text-color);
  font-weight: bold;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: #188ce8;
} */

/* $$$$$$$$$$$ МОДАЛКА $$$$$$$$$$$ */

/* .backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms, visibility 250ms;
  background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
} */

/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  padding: 40px 39px 40px 41px;

  transform: translate(-50%, -50%) scale(1);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  margin-bottom: 10px;
}

.modal-comment {
  margin-bottom: 20px;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  cursor: pointer;
  background-color: transparent;
  color: var(--btn-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover,
.modal__close:focus {
  fill: var(--nav-text-color);
}

.modal__title {
  font-weight: bolder;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--primary-text-color);
}

.input-wrap__form {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(117, 117, 117, 0.5);
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap__form:focus,
.input-wrap__form:hover {
  border-color: var(--nav-text-color);
  outline: none;
}

.input-wrap__form:hover + .input-wrap__icon {
  fill: var(--nav-text-color);
}

.input-wrap__form:focus + .input-wrap__icon {
  fill: var(--nav-text-color);
}

.input-wrap {
  position: relative;
}

.input-wrap__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translatey(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment__text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(117, 117, 117, 0.5);
  border-radius: 4px;
  padding: 16px 12px;
  resize: none;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment__text:focus,
.modal-comment__text:hover {
  border-color: var(--nav-text-color);
}

.modal-comment__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__text {
  display: block;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  text-align: left;
}

.modal-check__box {
  padding-left: 13px;
}

.modal-check__icon {
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translatey(-50%);
  fill: transparent;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check__text {
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-check__text::before {
  content: "";
  width: 16px;
  height: 15px;
  border-radius: 2px;
}

.modal-check__box {
  margin-right: 10px;
}

.modal-check__policy:checked + .modal-check__text .modal-check__icon {
  border: none;
  background-color: var(--nav-text-color);
}

.modal-check__policy:checked + .modal-check__text .modal-check__icon {
  fill: white;
}

.modal-check__document {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 2px;
  color: var(--nav-text-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check__document:hover,
.modal-check__document:focus {
  color: #188ce8;
}

.modal-check__button {
  padding: 10px 32px;
  margin-top: 30px;

  font-family: Roboto;
  font-size: 16px;
  line-height: 1.875;
  color: var(--btn-text-color);
  font-weight: bold;
  letter-spacing: 0.06em;
  background: var(--nav-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check__button:hover,
.modal-check__button:focus {
  background-color: #188ce8;
} */

/* $$$$$$$ ЧЕМ МЫ ЗАНИМАЕМСЯ $$$$$$ */

/* .work {
  display: flex;
  justify-content: center;
}

.work__item {
  width: 270px;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "";
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  text-align: center;
}

.work__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;

  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.work__text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.7;
  color: var(--title-text-color);
}

.work-list__title,
.command__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;

  font-size: 36px;
  line-height: 1.166;
  text-align: center;
}

.work-list {
  padding: 0 0 94px 0;
}

.work-list__list {
  display: flex;
  justify-content: center;
}

.work-list__image {
  margin-right: 30px;
}

.work-list__name {
  position: relative;
}

.work-list__text {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px 27px;

  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--btn-text-color);
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.work-list__image:nth-child(3n) {
  margin-right: 0;
} */

/* $$$$$$$$$$$$$ НАША КОМАНДА $$$$$$$$$$$$$ */

/* .command {
  background: #f5f4fa;
}

.command-box {
  display: flex;
  justify-content: center;
} */

.command-box__list {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  padding-bottom: 30px;
  background: #ffffff;
  list-style: none;
}

/* .command-box__list:not(:last-child) {
  margin-right: 30px;
} */

/* .command-box__name {
  margin-top: 30px;
  margin-bottom: 16px;
}

.command-box__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 0;
}

.command-box__text {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin: 0;
  padding: 0;
} */

/* .social__list {
  display: flex;
  justify-content: center;
}

.social__item + .social__item {
  margin-left: 10px;
} */

/* .social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--nav-text-color);
  color: #ffffff;
} */
/* $$$$$$$$$$$ ПОСТОЯННЫЕ КЛИЕНТЫ $$$$$$$$$*/

/* .clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  color: #afb1b8;
}

.clients__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
}

.clients__item {
  display: flex;
  fill: #afb1b8;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--nav-text-color);
  border: 1px solid #2196f3;
}

.clients__icon {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ########### ПОРТФОЛИО ###########*/

/* .portfolio-name {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

/* .portfolio-button {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}

.portfolio-button-item {
  padding: 6px 22px;
  margin-right: 8px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p-b-t {
  margin-right: 0;
}

.portfolio-button-item:hover,
.portfolio-button-item:focus {
  background-color: #2196f3;
  color: var(--btn-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* .portfolio-projects {
  margin-top: 54px;
  padding-bottom: 94px;
}

.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.p-card {
  text-decoration: none;
  color: #212121;
}
.portfolio-card-item {
  position: relative;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  overflow: hidden;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);

  margin: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translatey(100%);

  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .portfolio-card-item:hover .portfolio-overlay {
  transform: translatey(0);
}

.portfolio-card-item:hover,
.portfolio-card-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-card-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-overlay-text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: white;
} */

/* .portfolio-card-nav {
  margin-bottom: 0;
  padding: 20px 24px;
  border-top: 0;
  background: white;
}

.portfolio-card-name {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card-theme {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.875;
  color: var(--title-text-color);
} */

/* $$$$$$$$$$$$ ФУТЕР $$$$$$$$$$$$*/

/* .footer {
  background: #2f303a;
  padding: 60px 0;
  padding-left: 20px;
}

.footer > .container {
  display: flex;
  align-items: baseline;
} */

/* .footer__name {
  margin-right: 70px;
}

.footer__logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--btn-text-color);
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .footer-adress {
  margin-top: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.footer-adress__link {
  line-height: 1.7;
  color: var(--btn-text-color);
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress__link:hover,
.footer-adress__link:focus,
.footer-contact__link:hover,
.footer-contact__link:focus,
.footer__logo:hover,
.footer__logo:focus {
  color: var(--nav-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .footer-contact,
.footer-contact__item {
  margin-top: 9px;
}

.footer-contact__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* ------------FOOTER SOCIAL-------------- */

/* .footer-social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  margin-right: 98px;
}

.footer-social__name,
.footer-email__name {
  justify-content: flex-start;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-text-color);
  margin-bottom: 20px;
  margin-top: 0;
}

.footer-social__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--btn-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__icon {
  fill: currentColor;
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--nav-text-color);
} */

/* $$$$$$$$$$$$$  FOOTER BOX  $$$$$$$$$$$$$$ */

/* .footer-box {
  display: flex;
}

.footer-box__button {
  position: relative;
  display: inline-flex;
  align-items: center;

  padding: 10px 28px 10px 29px;
  width: 200px;
  height: 50px;

  font-family: Roboto;
  font-size: 16px;
  line-height: 1.875;
  color: var(--btn-text-color);
  font-weight: bold;
  letter-spacing: 0.06em;
  background: #2196f3;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-box__icon {
  position: absolute;
  right: 28px;
  fill: currentColor;
}

.footer-box__button:hover,
.footer-box__button:focus {
  background-color: #188ce8;
}

.footer-box__input {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.6);

  box-sizing: border-box;
  text-align: left;
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-box__input:hover,
.footer-box__input:focus {
  border-color: var(--nav-text-color);
  outline: none;
} */
