html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  background: #ffffff;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  margin: 0;
}
