.command {
  background: #f5f4fa;
}

.command-box {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
  }
}
