.footer {
  background: #2f303a;
  padding: 60px 0;
}

.footer__boxs {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    padding-left: 10px;
  }
}
