.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  margin-right: 98px;
}

.footer-social__name,
.footer-email__name {
  justify-content: flex-start;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-text-color);
  margin-bottom: 20px;
  margin-top: 0;
}

.footer-social__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--btn-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--nav-text-color);
  }
}

.footer-social__icon {
  fill: currentColor;
}
