.footer-box {
  display: flex;
}

.footer-box__button {
  position: relative;
  display: inline-flex;
  align-items: center;

  padding: 10px 28px 10px 29px;
  width: 200px;
  height: 50px;

  font-family: Roboto;
  font-size: 16px;
  line-height: 1.875;
  color: var(--btn-text-color);
  font-weight: bold;
  letter-spacing: 0.06em;
  background: #2196f3;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.footer-box__icon {
  position: absolute;
  right: 28px;
  fill: currentColor;
}

.footer-box__input {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.6);

  box-sizing: border-box;
  text-align: left;
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--nav-text-color);
    outline: none;
  }
}
