.footer__name {
  justify-content: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: inline-block;
    justify-content: start;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: start;
    white-space: nowrap;
  }
}

.footer__logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;

  color: var(--btn-text-color);
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--nav-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 1200px) {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}
