.portfolio-card-item:hover .portfolio-overlay {
  transform: translatey(0);
}

.portfolio-card-item:hover,
.portfolio-card-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-card-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-overlay-text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: white;
}
