.portfolio-button {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}

.portfolio-button-item {
  padding: 6px 22px;
  margin-right: 8px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
    color: var(--btn-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.p-b-t {
  margin-right: 0;
}
